div.yc{
    display: inline-block;
    margin-left: 80px;
    width: 200px;
    margin-top: 30px;
    
}
div.lo{
    display: inline-block;
    width: 600px;
    height: 500px;
    margin-left: 600px;
   
}

.title{
    background-color: aqua;
    width: 100%;
    height: 300px;
    
    
}
div.t{
    margin-top: 30px;
}
body{
    background-color: rgb(16, 61, 65);
}
nav#menu{
    
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(5, 119, 104);
    display: flex;
    flex-wrap: wrap;
  
}
a{
    text-decoration: none;
   
    
    padding-top: 10px;
    border-right-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
a:hover{
    color: aliceblue;
    background-color: rgb(23, 141, 125);

}
a.ra{
    background-color:rgb(23, 141, 125);
    color: aliceblue;
   
   
    
   
}

div.ab{
    display: inline-block;
    width: 1000px;
    height: auto;
}
div.rm{
    height: 2px;
    width: 920px;
    background-color:  aqua;
    display: inline-block;
}
p.r{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: aqua;
}
div.re{
    width: 300px;
    height: auto;
    margin-left: 120px;
    vertical-align: top;
    margin-top: 30px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 1px;
    border-color: rgb(71, 70, 70);
    border-style: outset;
    border-radius: 20px;
}
section{
    margin-bottom: 30px;
}
footer.foot{
    background-color:  rgb(5, 119, 104);
    width: 100%;
    height: 40px;
    padding-top: 20px;
    
}
a.F{
    text-decoration: none;
   
    
    padding-top: 10px;
    border-right-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    
}
div.a{
    display: inline-block;
    width: 900px;
}
div.e{
    display: inline-block;
    
    width: 80;
    margin-left: 400px;
}

